{% extends "base.html" %}
{% load static %}

{% block title %}Login - ScientaGrid{% endblock %}

{% block branding %}
<h1><a href="{% url 'admin:index' %}">ScientaGrid Login</a></h1>
{% endblock %}

{% block content %}
<div class="login">
    <div class="login-form">
        <h2>Sign in to ScientaGrid Administration</h2>
        
        {% if form.errors %}
            <div class="errornote">
                <h3>Please correct the error{{ form.errors|pluralize }} below.</h3>
                {{ form.errors }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <p class="errornote">
                You are authenticated as {{ user.username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            </p>
        {% endif %}

        <form action="{% url 'login' %}" method="post" id="login-form">
            {% csrf_token %}
            
            <div class="form-row">
                <label for="{{ form.username.id_for_label }}" class="required">Username:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div class="form-row">
                <label for="{{ form.password.id_for_label }}" class="required">Password:</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <ul class="errorlist">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
            </div>
            {% endif %}
            
            <div class="submit-row">
                <input type="submit" value="Log in" class="default">
            </div>
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}